{% extends 'layout.html' %}
{% load blog_extras %}
{% block content %}

<h1 class="stand-out-title">Blog Posts</h1>

{% for post in posts %}
<div class="p-3">
    <div class="card card-body bg-black">
        <div class="row flex-column flex-sm-row">
            <div class="col-lg-3 col-md-5 col-12 mb-3">
                <img src="{{post.image.url}}" class="post-image img-fluid" alt="{{post.title}}">
            </div>
            <div class="col-lg-9 col-md-7 col-12">
                <h2>{{post.title|convert_markdown_with_highlight|safe}}</h2>
                <p>{{post.description|striptags|truncatechars:100|convert_markdown_with_highlight|safe}}</p>
                <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">See more...</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}