asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.2.0
distlib==0.3.7
dj-database-url==2.0.0
Django==4.2.3
django-bootstrap-icons==0.8.3
django-dotenv==1.4.2
django-markdownx==4.0.2
filelock==3.12.2
gunicorn==20.1.0
idna==3.4
Markdown==3.4.3
Pillow==10.0.0
platformdirs==3.9.1
psycopg2==2.9.6
psycopg2-binary==2.9.6
python-decouple==3.8
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.24.0
whitenoise==6.5.0
